* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: rgba(22, 28, 45, 1);
}
body {
  margin: 0;
}
.container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(244, 247, 250, 1);
}
.layout {
  width: 1110px;
  height: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
/* header started here */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 84px;
  background-color: white;
}
.headerSection {
  position: absolute;
  left: 25px;
  right: 25px;
  width: auto;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  font-weight: bold;
}
.center {
  display: flex;
  gap: 29px;
}
.menu {
  color: rgba(22, 28, 45, 1);
}
a {
  text-decoration: none;
}
/* contact us started here */
.contactUs {
  width: 602px;
  height: 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  margin: 81px 0px 61px 0px;
}
.titleContact {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 65px;
}
.paragraphContact {
  font-size: 19px;
  line-height: 32px;
  opacity: 70%;
  font-weight: 400;
  text-align: center;
}
/* link started here */
.linkContact {
  width: 1075px;
  height: 122px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.link {
  width: 319px;
  height: 118px;
}
.inf {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.5px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
ul img {
  width: 54px;
  height: 54px;
}
.bold {
  color: rgba(22, 28, 45, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
/* page started here */
.page {
  width: 1110px;
  height: 595px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 44px 40px 52px 45px;

  background-color: rgba(255, 255, 255, 1);
}
.inputArea {
  width: 100%;
  height: 190px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.inputRegular {
  width: 495px;
  height: 78px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.regularText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1025px;
  height: 188px;
}
.text {
  font-size: 15px;
}
input {
  width: 100%;
  height: 50px;
  border: rgba(231, 233, 237, 1) 1px solid;
  border-radius: 8px;
}
textarea {
  width: 1025px;
  height: 50px;
  border: rgba(231, 233, 237, 1) 1px solid;
  border-radius: 8px;
}
.pageButton {
  width: 213px;
  height: 59px;
  background-color: rgba(71, 59, 240, 1);
  color: white;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
footer {
  width: 100vw;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 108px;
}
.menuList {
  width: 100%;
  height: 250px;
  color: rgba(22, 28, 45, 1);
  display: flex;
  justify-content: space-around;
}
.listTitle {
  opacity: 70%;
  margin-bottom: 20px;
}
ol {
  list-style: none;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: -0.2px;
  font-weight: 400;
}
li:hover {
  color: rgba(71, 59, 240, 1);
  font-weight: 700;
  cursor: pointer;
}
.holboos {
  width: 90%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logos {
  display: flex;
  gap: 30px;
}
